In [6]:
%matplotlib inline
%load_ext autoreload
%autoreload 2
import meteva.base as meb
import meteva.product as mep

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [35]:
para= {
    "ip_port_file":r"H:\test_data\input\meb\ip_port.txt",
    "local_binary_dir":"O:/data/mdfs",
    "local_sta_dir": "O:/data/sta",
    "local_grid_dir":"O:/data/grid",
    "max_save_day":7,
    }

In [36]:
filename = "SURFACE/PLOT_NATIONAL_1H/20200224220000.000"
mep.application.read_stadata(para,filename,element_id = meb.gds_element_id.总云量)

None

   level                time  dtime     id         lon      lat  data0
0    0.0 2020-02-24 22:00:00      0  58237  118.589996  32.0653   10.0
1    0.0 2020-02-24 22:00:00      0  58339  118.903900  31.3333    9.0
2    0.0 2020-02-24 22:00:00      0  58340  119.063904  31.6028    3.0

In [40]:
filename = r"mdfs:///NWFD_SCMOC/TMP/2M_ABOVE_GROUND/20022208.024"
mep.application.read_griddata(para,filename)

O:/data/grid/NWFD_SCMOC/TMP/2M_ABOVE_GROUND/20200222/20022208.024.nc

<xarray.DataArray 'data0' (member: 1, level: 1, time: 1, dtime: 1, lat: 1201, lon: 1401)>
array([[[[[[9999.   , ..., 9999.   ],
           ...,
           [ -14.625, ...,  -16.125]]]]]], dtype=float32)
Coordinates:
  * member   (member) int32 0
  * level    (level) int32 -2147483647
  * time     (time) datetime64[ns] 2001-03-01
  * dtime    (dtime) int32 0
  * lat      (lat) float32 0.0 0.05 0.1 0.15 0.2 ... 59.8 59.85 59.9 59.95 60.0
  * lon      (lon) float32 70.0 70.05 70.1 70.15 ... 139.85 139.9 139.95 140.0
Attributes:
    units:         ℃
    long_name:     2m温度
    effectiveNum:  1

In [46]:
station = meb.read_station(meb.station_国家站)
mep.application.read_stadata_from_griddata(para,filename,station)

O:/data/grid/NWFD_SCMOC/TMP/2M_ABOVE_GROUND/20200222/20022208.024.nc

           level       time  dtime     id     lon    lat          0
0    -2147483647 2001-03-01      0  56790  104.25  25.68   7.903575
1    -2147483647 2001-03-01      0  51369   87.65  43.97  -2.480689
2    -2147483647 2001-03-01      0  56097  104.25  33.27  -5.165088
3    -2147483647 2001-03-01      0  57413  106.97  30.85  10.272183
4    -2147483647 2001-03-01      0  54871  122.48  36.93   3.834073
...          ...        ...    ...    ...     ...    ...        ...
2412 -2147483647 2001-03-01      0  53768  111.75  37.15  -0.932340
2413 -2147483647 2001-03-01      0  58645  119.49  28.46   9.953266
2414 -2147483647 2001-03-01      0  58444  120.29  30.42   5.991184
2415 -2147483647 2001-03-01      0  58755  120.39  27.50  12.934611
2416 -2147483647 2001-03-01      0  48520   99.08  10.32  22.252816

[2417 rows x 7 columns]